/*Httml Title Attiribute Olanların Tamamını Seçer*/
span {
    background-color: yellow;
}

/*Httml Title Attiribute tr'ye eşit Olanları Seçer*/
span[title="tr"] {

    background-color: pink;
}

/*Tüm Title Attiribute  Içerisinde ww Olanları Seçer*/
span[title~="ww"] {

    background-color: rgb(6, 255, 26);
}

/*Tüm Title Attiribute  k İle Başlayanları Seçer*/
span[title^="k"] {

    background-color: coral;
}

/*Tüm Title Attiribute içerisinde h İle Bitenleri Seçer*/
span[title$="h"] {

    background-color: aquamarine;
}

/*Tüm Title Attiribute içerisinde h İçerenleri Seçer*/
span[title*="q"] {

    background-color: purple;
}