@mixin mx-font {
    font-size: 1.25rem;
    font-family: 'Verdana';
    // text-align: center;
    margin: 0.25rem;
    line-height: 2.5;
    color: black;
    // background-color: rgb(211, 174, 174);
}